<div class="section @CollapseClass">
    @ChildContent
</div>

@code {

    public enum CollapseState
    {
        Show,
        Hiddden
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public CollapseState Collapsed { get; set; }

    string CollapseClass { get; set; }

    protected override void OnParametersSet()
    {
        CollapseClass = Collapsed switch
        {
            CollapseState.Show => "",
            _ => "collapsed"
        };
    }
}
