@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*touch-action: pan-x pan-y;*/
    touch-action: manipulation;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
} 

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
    
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    padding-top: 40px;
    background-color: #34568B; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    /*touch-action: pan-x pan-y;*/
}
    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidebar div {
        padding: 8px;
        font-size: 24px;
        display: block;
    }
    .sidebar a:hover {
        color: #f1f1f1;
    }
    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #34568B;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    z-index: 1;
}
    .openbtn:hover {
        background-color: #444;
    }
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}
.body-text {
    margin-left: 150px;
    font-size: 18px;
}

    .sidebar div {
        padding: 8px;
        font-size: 24px;
        display: block;
    }

.body-text {
    margin-left: 150px;
    font-size: 18px;
}
#dropdown{
    width:200px;
    height:50px
}
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    .spinner {
        border: 16px solid silver;
        border-top: 16px solid #337AB7;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 700ms linear infinite;
        top: 40%;
        left: 55%;
        position: relative;
        margin-top: 0%;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg)
        }
        100% {
            transform: rotate(360deg)
        }
    }

iframe {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}

iframe {
    display: block;
    width: 100%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.DivOverlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: navy;
    opacity: 1;
    z-index: 900;
}


/*Pause/Play button Checkbox Trick========================================== */
.playpause label {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 50px;
    width: 0;
    height: 120px; /*Change this to change height of button, but be sure to change border-width at the same scale*/
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 60px 0 60px 80px; /*Change this along with height, but be sure to change .playpause input[type=checkbox]:checked + label*/
    position: relative;
}

.playpause input[type=checkbox] {
    position: absolute;
    left: -9999px;
}

    .playpause input[type=checkbox]:checked + label { /*This is the pause portion of the play/pause button*/
        border-style: double;
        border-width: 0px 0 0px 60px; 
    }

    .playpause input[type=checkbox]:focus + label {
        box-shadow: 0 0 10px lightblue;
    }

.reverse label {
    display: inline-block;
    box-sizing: border-box;
    width: 0;
    height: 50px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 28px 0 28px 40px;
    position: relative;
}

.reverse input[type=checkbox] {
    position: absolute;
    left: -9999px;
}

    .reverse input[type=checkbox]:checked + label {
        border-style: double;
        border-width: 0px 0 0px 30px;
    }

    .reverse input[type=checkbox]:focus + label {
        box-shadow: 0 0 10px lightblue;
    }

.divider {
    width: 60px;
    height: auto;
    display: inline-block;
}

.backbutton {

    border: none;
    outline: none;
    transform: rotateY(180deg);
    display: inline;
    /*padding-bottom: 500px;*/
    position: relative;
    bottom: 50px;
}

.forwardbutton {

    border: none;
    outline: none;
    color: black;
    /*padding-bottom: 500px;*/
    display: inline;
    position: relative;
    bottom: 50px;
}

.reversebutton {
    transform: rotate(180deg);
    color: black;
    position: relative;
}


.outer-div {
    width: 100%;
    text-align: center;
}

.inner-div {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    padding-top: 10px;
}

.playprogress {
    width: 1000px;
}

.no-scroll {
    overflow: hidden;
}
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#topbar {
    background: #fff;
    padding: 10px;
}

.action-button {
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    color: #6e6e6e;
    height: 32px;
    width: 32px;
    text-align: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

    .action-button:hover,
    .action-button:focus {
        background: #0079c1;
        color: #e4e4e4;
    }

.active {
    background: #0079c1;
    color: #e4e4e4;
}