@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <!--<div class="sidebar">-->
    @*<NavMenu />*@
    <!--</div>-->
    @*<div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

    <div class="content px-4">
        <CascadingAuthenticationState>
            @try
            {
                @Body

            }
            catch (Exception ex)
            {
                HandleException(ex);
            }
        </CascadingAuthenticationState>
    </div>
</div>
@*</div>*@

@code {
    private async void HandleException(Exception ex)
    {
        // You can log the exception here if needed.

        await JSRuntime.InvokeVoidAsync("ReloadPage");
    }
}